/*---------- Opmaak van de visitekaartjes in childs ---------*/
.background_format {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(1) {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section:nth-child(2) {
  background-image: url("../assets/thomas.png");
}

section:nth-child(3) {
  background-image: url("../assets/Tolga2.png");
}

section:nth-child(4) {
  background-image: url("../assets/Milan.png");
}

section:nth-child(5) {
  background-image: url("../assets/Isandro.png");
}

section:nth-child(6) {
  background-image: url("../assets/Joëlle.png");
}

section:nth-child(7) {
  background-image: url("../assets/Sanne.png");
}

section:nth-child(8) {
  background-image: url("../assets/Tim.png");
}

section:nth-child(9) {
  background-image: url("../assets/Wesley.png");
}

section:nth-child(10) {
  background-image: url("../assets/Sander.png");
}

section:nth-child(11) {
  background-image: url("../assets/Trisjan.png");
}

section:nth-child(12) {
  background-image: url("../assets/Marco.png");
}

section:nth-child(13) {
  background-image: url("../assets/Arexan.png");
}

section:nth-child(14) {
  background-image: url("../assets/Robin.png");
}

section:nth-child(15) {
  background-image: url("../assets/Celine.png");
}

section:nth-child(16) {
  background-image: url("../assets/Badr.png");
}

section:nth-child(17) {
  background-image: url("../assets/Cathelijne.png");
}

section:nth-child(18) {
  background-image: url("../assets/Anouk.png");
}

section:nth-child(19) {
  background-image: url("../assets/Judith.png");
}

section:nth-child(20) {
  background-image: url("../assets/Diego.png");
}

section:nth-child(21) {
  background-image: url("https://picsum.photos/1000/1000");
}
