/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");

/*Laat de scrolbar niet zien*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

/* sizing font (nog moeilijk te begrijpen)*/
:root {
  font-size: min(calc(1.3em + 0.05vw), 4em);
}

.head_text {
  color: white;
  text-align: center;
  position: fixed;
  margin-left: 20px;
}

.logo {
  position: absolute;
  z-index: 9;
  width: 10%;
  margin-top: 2vh;
  margin-left: 1vw;
}
.raket {
  position: absolute;
  z-index: 10;
  width: 10%;
  margin-top: 2vh;
  margin-left: 1vw;
  transition: 1s;

}
.raket:hover {
  transform:translate(-80px,-80px);
transition: ease-in;
transition: 1s;

}

/*Cards*/
.outer-wrapper {
  margin-top: -2px;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: scroll;
  scroll-snap-type: y mandatory;
  
}

.all {
  display: flex;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  width: 33.3vw;
  transition: 0.5s;
  position: relative;
  /*scroll snap*/
  scroll-snap-align: start;
}

/*Content at the bottem of the cards*/
.content_container {
  position: relative;
  width: 100vw;
  margin-left: 4vw;
  margin-bottom: 8vh;
  padding-right: 1em;
}

.front {
  position: relative;
  width: 100vw;
  margin-left: 4vw;
  margin-bottom: 8vh;
  padding-right: 1em;
}

.frontpage {
  background-color: rgb(224, 169, 169);
}

.mainschrift {
font-size: 1em;
padding-right: 0.3vw;
display: block;
width: 20vw;

}

/* ANIMEREN */
.content_container h2,
.content_container p,
.content_container .knop {
  transition: 0.3s;
  /* transition-delay: 0.8s; */
  transition-timing-function: ease;
  transform: translateY(100px);
  opacity: 0;
}

.content_container h2 {
  transition-delay: 0.1s;
}

.content_container p {
  transition-delay: 0.2s;
}

.content_container .knop {
  transition-delay: .3s;
}

.card:hover .content_container h2,
.card:hover .content_container p,
.card:hover .content_container .knop {
  opacity: 1;
  transform: translateY(0);
}

.name_title {
  margin: 0;

}

.subtext {
  color: white;
  margin-top: -0.5vh;
  font-size: 0.7em;
}

.knop {
  color: white;
  background: none;
  border: none;
  font-size: 0.6em;
  background-color: rgba(81, 168, 225, 1);
  padding: 10px 20px 10px 20px;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.01ms;
  transition-delay: 0s;


}

.knop:hover {
  background-color: rgba(223, 195, 76, 1);
  transition: 0.1s;
  transition-delay: 0.01s;

}

.card {
  position: relative;
  height: 100vh;
  width: 33.33vw;

}

.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(212deg, rgba(0, 0, 0, 0) 0%, rgba(0, 8, 71, 0.5) 100%);
  opacity: 0%;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.card:hover .overlay::before {
  opacity: 100%;
}

.section {
  transform: scale(1.05);
  transition: 1s;
}

/*Pijl op de eerste slide*/
.arrow {
  height: 1em;
  margin-left: 1em;
  display: inline-block;
}

.first_text {
  margin-bottom: 2.5em;
  font-size: 3em;
}

.pulse {
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.3;
}

@-webkit-keyframes pulsate {
  0% { opacity: 0; }
  50% { opacity: 1.0; }
  100% { opacity: 0; }
}

/*--------------------Mobiel view--------------------*/
@media screen and (max-width: 480px) {
  .outer-wrapper {
    margin-top: -2px;
    width: 100vh;
    height: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .all {
    display: flex;
    width: 100vw;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw !important;
    transition: 0.5s;
    position: relative;
    /*scroll snap*/
    scroll-snap-align: start;
  }

  .content_container,
  .card,
  .section {
    padding: 0.5em;
  }

  p {
    padding-right: 3em;

  }

  .logo {
    width: 27%;
    margin-left: 1em;

  }



  .overlay::before {
    content: '';
    background: linear-gradient(212deg, rgba(0, 0, 0, 0) 0%, rgba(0, 8, 71, 0.5) 100%);
    opacity: 100%;
    mix-blend-mode: multiply;
  }

  .content_container h2,
  .content_container p,
  .content_container .knop {
    transition: 0.3s;
    /* transition-delay: 0.8s; */
    transition-timing-function: ease;
    transform: translateY(0px);
    opacity: 1;
  }
  
  .mainschrift {
    font-size: 1em;
    padding-right: 0.3vw;
    display: block;
    width: 80vw;
    }
}

/*--------------------Tablet view--------------------*/
@media screen and (max-width: 1024px) {
  .frontpage{
    width: 50vw;
  }
  .card {
    width: 50vw;
  }

  .logo {
    width: 20vw;
  }

  /* ANIMEREN UITZETTEN*/
    .overlay::before {
    content: '';
    opacity: 0; /* opacity op 0% gezet OOK bij hover van overlay */
  }
  
  .content_container h2,
  .content_container p,
  .content_container .knop {
    transform: translateY(0);
    opacity: 1;
  }

  .card:hover .overlay::before {
    opacity: 0; /* tweede gedeelte opacity op 0% gezet */
  }
  /* ---------------- */

  /* hover hiden door zelfde background color */
  .knop:hover {
    background-color: rgba(81, 168, 225, 1);
  }
}
