/*Laat de scrolbar niet zien*/
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head_text {
  color: white;
  text-align: center;
  position: fixed;
  margin-left: 20px;
  z-index: 10;
}

/* child selectoren van een div */
section:nth-child(1) {
  background-image: url("../assets/thomas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(2) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(3) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(4) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(5) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(6) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(7) {
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:hover{
  cursor: pointer;
  filter: brightness(50%);
}

/*Cards*/
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scroll-snap-type: x mandatory;
}

.all {
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

section {
  width: 33.3vw;
  height: 100vh;
  justify-content: end;
  align-items: flex-end; 
  scroll-snap-align: start;
  transition: 0.5s;
}

.scroll_begin {
  scroll-snap-align: start;
}

/*Content at the bottem of the cards*/
.content_container{ 
  width: 100%;
  color: white;
}

.name_title {
  vertical-align: bottom;
  bottom: 10px;
  padding-left: 20px;
  z-index: 10;
}