html,
body {
  height: 100vh;
  margin: 0;
  background-color: black;
  overflow-x: hidden;
}

.head_text {
  color: white;
  text-align: center;
  position: fixed;
  margin-left: 20px;
}

.page {
  font-size: 16px;
  /*reset font size*/
  height: 100%;
  width: 33.3%;
  display: inline-block;
  scroll-snap-align: start;
}

/* child selectoren van een div */
.page:nth-child(1) {
  background-image: url("../assets/thomas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page:nth-child(2) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page:nth-child(3) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page:nth-child(4) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page:nth-child(5) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page:nth-child(6) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page:nth-child(7) {
  background-image: url("https://picsum.photos/1000/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.all {
  font-size: 0;
  /*remove white space*/
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

/*Content at the bottem of the cards*/
.content_container{
  position: absolute;
  bottom: 10px;
  width: 50%;
  margin-left: 20px;
  color: white;
}